<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventing" type="LCC.Eventing.Client.Configuration, LCC.Eventing.Client" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>

  <eventing>
    <server url="http://localhost:8088" />
  </eventing>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>